<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="home.html" class="navbar-brand">
                <h1 class="m-0 text-primary"></i>RateMyCourses</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="home" class="nav-item nav-link">Home</a>
                    <a href="courses" class="nav-item nav-link">Courses</a>
                    <a href="professors" class="nav-item nav-link">Professors</a>
                    <a href="search.html" class="nav-item nav-link">Search</a>
                    <a href="login" class="nav-item nav-link">Sign in</a>
                    <a href="account" class="nav-item nav-link active">Account</a>
                    <a href="backstage" class="nav-item nav-link">Backstage</a>
                </div>
            </div>
        </nav>
    </div>
</div>





<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-3 mb-3 mb-lg-0" style="min-height: 300px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded-circle" src="{{userInfo.profilePicture}}"
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">User Info</h5>
                    <h4 class="display-10">Username: &nbsp&nbsp {{userInfo.username}}</h4>
                    <h4 class="display-10">Email: &nbsp&nbsp {{userInfo.email}}</h4>
                    <h4 class="display-10">Major: &nbsp&nbsp {{userInfo.major}} </h4>
                    <h4 class="display-10">Role: &nbsp&nbsp {{userInfo.role}}</h4>
                    <h4 class="display-10">Restrict Status: &nbsp&nbsp {{userInfo.restrictStatus}}</h4>
                    <h4 class="display-10">Registration Time: &nbsp&nbsp {{userInfo.registrationTime}}</h4>
                    <h4 class="display-10">Last Login: &nbsp&nbsp {{userInfo.lastLogin}}</h4>
                </div>
                <p>Want to sign out?<a class="switcher-text2 inline-text sign-out">
                        &nbsp&nbsp Sign out</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">


            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Course Reviews
                </h4>

                {{#each courseReviews}}
                <div class="d-flex mb-4">
                    <img src="static/picture/user.jpg" class="img-fluid rounded-circle"
                        style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="{{concat '/course/' this.courseId}}">{{this.courseName}}</a> &nbsp
                            <small><i>Rating: {{this.rating}}/5.0</i></small>
                        </h6>
                        <p>{{this.comment}}</p>
                        <h6><small>Difficulty: {{this.metrics.difficulty}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Chance To Get
                                A: {{this.metrics.chanceToGetA}}
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp workLoad: {{this.metrics.workLoad}}</small></h6>
                        <a data-toggle="modal" data-target="#cour-edit{{@index}}"><button
                                class="btn btn-sm btn-light">Edit</button></a>
                        <a id="courseId{{@index}}" value="{{this.courseId}} {{this.userId}}"
                            class="eg-swal-av3-cour-delete"><button class="btn btn-sm btn-light">Delete</button></a>
                    </div>

                    <div class="modal fade" tabindex="-1" role="dialog" id="cour-edit{{@index}}">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                                <div class="modal-body modal-body-lg">
                                    <h5 class="title">Update Course Comment</h5>
                                    <div class="tab-content">
                                        <div class="row gy-4">
                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <input type="text" class="form-control form-control-lg"
                                                        id="cour-comment-edit{{@index}}" name="cour-comment"
                                                        value="{{this.comment}}">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                                    <li>
                                                        <a href="#"
                                                            class="btn btn-lg btn-primary eg-swal-av3-cour-edit">Update</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-dismiss="modal"
                                                            class="link link-light">Cancel</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .tab-pane -->
                                </div><!-- .modal-body -->
                            </div><!-- .modal-content -->
                        </div><!-- .modal-dialog -->
                    </div><!-- .modal -->
                </div>
                {{/each}}

            </div>



            <div class="col-lg-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Professor Reviews
                </h4>

                {{#each professorReviews}}
                <div class="d-flex mb-4">
                    <img src="static/picture/user.jpg" class="img-fluid rounded-circle"
                        style="width: 45px; height: 45px;">
                    <div class="ps-3">
                        <h6><a href="{{concat '/professors/' this.professorId}}">{{this.professorName}}</a> &nbsp
                            <small><i>Rating:
                                    {{this.rating}}/5.0</i></small>
                        </h6>
                        <p>{{this.comment}}</p>
                        <a data-toggle="modal" data-target="#prof-edit{{@index}}"><button
                                class="btn btn-sm btn-light">Edit</button></a>
                        <a id="professorId{{@index}}" value="{{this.professorId}} {{this._id}} {{this.userId}}"
                            class="eg-swal-av3-prof-delete"><button class="btn btn-sm btn-light">Delete</button></a>
                    </div>

                    <div class="modal fade" tabindex="-1" role="dialog" id="prof-edit{{@index}}">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                                <div class="modal-body modal-body-lg">
                                    <h5 class="title">Update Professor Comment</h5>
                                    <div class="tab-content">
                                        <div class="row gy-4">
                                            <div class="col-md-12">
                                                <div class="form-group">

                                                    <input type="text" class="form-control form-control-lg"
                                                        id="prof-comment-edit{{@index}}" name="prof-comment"
                                                        value="{{this.comment}}">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                                    <li>
                                                        <a href="#"
                                                            class="btn btn-lg btn-primary eg-swal-av3-prof-edit">Update</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-dismiss="modal"
                                                            class="link link-light">Cancel</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div><!-- .tab-pane -->
                                </div><!-- .modal-body -->
                            </div><!-- .modal-content -->
                        </div><!-- .modal-dialog -->
                    </div><!-- .modal -->
                </div>
                {{/each}}

            </div>

        </div>
    </div>
</div>



<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary border-bottom border-5">Course Recommendation</h5>
            <h1 class="display-4">Some recommended courses for you</h1>
        </div>
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">

            {{#each topCourses}}
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="{{this.picture}}" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                        style="background: rgba(29, 42, 77, .8);">

                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal"
                                style="font-size: 22px; line-height: 45px;"></small>{{this.courseIndex}}<small
                                class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;"></small>
                        </h1>
                        <h3 class="text-white">{{this.courseName}}</h3>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>{{this.type}} Course</p>
                    <p>Difficulty: {{this.metrics.difficulty}}</p>
                    <p>Chance to get A: {{this.metrics.chanceToGetA}}</p>
                    <p>Workload: {{this.metrics.workLoad}}</p>
                    <a href="{{concat '/course/' this._id}}" class="btn btn-primary rounded-pill py-3 px-5 my-2">More
                        Details</a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>


<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Find A Course</h5>
            <h1 class="display-4 mb-4">Find your interested course</h1>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <select class="form-select border-primary w-25" style="height: 60px;">
                    <option selected="">Department</option>
                    <option value="1">Department 1</option>
                    <option value="2">Department 2</option>
                    <option value="3">Department 3</option>
                </select>
                <input type="text" class="form-control border-primary w-50" placeholder="Keyword">
                <button class="btn btn-dark border-0 w-25">Search</button>
            </div>
        </div>
    </div>
</div>






<div class="container-fluid bg-dark text-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Get In Touch</h4>
                <p class="mb-4">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed
                    dolor</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i><a href="email-protection.html"
                        class="__cf_email__"
                        data-cfemail="adc4c3cbc2edc8d5ccc0ddc1c883cec2c0">[email&#160;protected]</a></p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+012 345 67890</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>About Us</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                    <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Popular Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>About Us</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                    <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>
                    <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Newsletter</h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
                <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank"
                        href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
            <div class="col-md-6 text-center text-md-end">

            </div>
        </div>
    </div>
</div>


<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<script data-cfasync="false" src="static/js/email-decode.min.js"></script>
<script src="static/js/jquery-3.4.1.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/bootstrap.bundle.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/easing.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/waypoints.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/owl.carousel.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/moment.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/moment-timezone.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/tempusdominus-bootstrap-4.min.js" type="64f10123938904b78188bb72-text/javascript"></script>

<script src="static/js/main.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/rocket-loader.min.js" data-cf-settings="64f10123938904b78188bb72-|49" defer=""></script>
<script src="static/backstage/assets/js/bundle.js?ver=2.2.0"></script>


<script>
    $(document).ready(function () {

        $(".sign-out").on("click", function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You are about to be signed out!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, sign out!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:3000/logout/",
                        success: function (result) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'You have successfully signed out',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    window.location.href = "home";
                                }
                            });
                        },
                        error: function (request, status, error) {
                            Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                            event.preventDefault();
                        }
                    })
                }
            });
        });


        $(".eg-swal-av3-cour-delete").on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-av3-cour-delete").index(this);
            var str = $("#courseId" + index).attr("value");
            let arr = str.split(" ");
            var formData = {
                courseId: arr[0],
                userId: arr[1]
            };
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "PUT",
                        url: "http://localhost:3000/course/deleteCourseReview/",
                        data: formData,
                        dataType: "json",
                        encode: true,
                        success: function (result) {
                            Swal.fire(
                                'Deleted!',
                                'The course review has been deleted.',
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    window.location.reload();
                                }
                            });
                        },
                        error: function (request, status, error) {
                            Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                            event.preventDefault();
                        }
                    })
                }
            });
        });


        $(".eg-swal-av3-prof-delete").on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-av3-prof-delete").index(this);
            var str = $("#professorId" + index).attr("value");
            let reviewId = str.split(" ")[1];
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "DELETE",
                        url: "http://localhost:3000/professors/comments/" + reviewId,
                        success: function (result) {
                            Swal.fire(
                                'Deleted!',
                                'The professor review has been deleted.',
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    window.location.reload();
                                }
                            });

                        },
                        error: function (request, status, error) {
                            Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                            event.preventDefault();
                        }
                    });
                }
            });
        });

        $('.eg-swal-av3-cour-edit').on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-av3-cour-edit").index(this);
            var str = $("#courseId" + index).attr("value");
            let arr = str.split(" ");
            let comment = $("#cour-comment-edit" + index).val();
            var formData = {
                courseId: arr[0],
                userId: arr[1],
                newComment: comment
            };
            $.ajax({
                type: "PUT",
                url: "http://localhost:3000/course/editCourseReview/",
                data: formData,
                dataType: "json",
                encode: true,
                success: function (result) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'The Course comment has been updated',
                        showConfirmButton: true,
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                },
                error: function (request, status, error) {
                    Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                    event.preventDefault();
                }
            })

        });



        $('.eg-swal-av3-prof-edit').on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-av3-prof-edit").index(this);
            var str = $("#professorId" + index).attr("value");
            let arr = str.split(" ");
            let comment = $("#prof-comment-edit" + index).val();
            var formData = {
                professorId: arr[0],
                reviewId: arr[1],
                userId: arr[2],
                newComment: comment
            };
            $.ajax({
                type: "PUT",
                url: "http://localhost:3000/professor/editProfessorReview/",
                data: formData,
                dataType: "json",
                encode: true,
                success: function (result) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'The Professor comment has been updated',
                        showConfirmButton: true,
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                },
                error: function (request, status, error) {
                    Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                    event.preventDefault();
                }
            })
        });







    });
</script>