<link rel="stylesheet" href="static/backstage/assets/css/dashlite.css?ver=2.2.0">



<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a href="html/index.html" class="logo-link">
                        <span class="nk-block-title page-title">RateMyCourses</span>
                    </a>
                </div>
                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                            class="icon ni ni-arrow-left"></em></a>
                </div>
            </div><!-- .nk-sidebar-element -->
            <div class="nk-sidebar-element">
                <div class="nk-sidebar-content">
                    <div class="nk-sidebar-menu" data-simplebar>
                        <ul class="nk-menu">
                            <li class="nk-menu-item">
                                <a href="backstage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                    <span class="nk-menu-text">Dashboard</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="userManage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                    <span class="nk-menu-text">User Manage</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="courseManage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-elementor"></em></span>
                                    <span class="nk-menu-text">Course Manage</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="professorManage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-user-list-fill"></em></span>
                                    <span class="nk-menu-text">Professor Manage</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="home" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                    <span class="nk-menu-text">Back to Home</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="null" class="nk-menu-link sign-out">
                                    <span class="nk-menu-icon"><em class="icon ni ni-signout"></em></span>
                                    <span class="nk-menu-text">Sign Out</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                        </ul><!-- .nk-menu -->
                    </div><!-- .nk-sidebar-menu -->
                </div><!-- .nk-sidebar-content -->
            </div><!-- .nk-sidebar-element -->
        </div>
        <div class="nk-wrap ">
            <!-- main header @s -->
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Courses</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>You have total {{allCourses.length}} courses.</p>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1"
                                                data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                                            <div class="toggle-expand-content" data-content="pageMenu">
                                                <ul class="nk-block-tools g-3">
                                                    <li class="nk-block-tools-opt">
                                                        <div data-toggle="modal" data-target="#course-add"><a href="#"
                                                                class="btn btn-primary"><em
                                                                    class="icon ni ni-plus"></em><span>Add
                                                                    Course</span></a></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- .toggle-wrap -->
                                    </div><!-- .nk-block-head-content -->
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-gs">

                                    {{#each allCourses}}
                                    <div class="col-sm-6 col-lg-4 col-xxl-3">
                                        <div class="card card-bordered h-100">
                                            <div class="card-inner">
                                                <div class="project">
                                                    <div class="project-head">
                                                        <a href="{{concat '/course/' this._id}}" class="project-title">
                                                            <div><img class="user-avatar sq" src="{{this.picture}}"
                                                                    alt=""></div>
                                                            <div class="project-info">
                                                                <h6 class="title">{{this.courseIndex}}
                                                                    {{this.courseName}}</h6>
                                                                <span class="sub-text">{{this.type}}</span>
                                                            </div>
                                                        </a>
                                                        <div class="drodown">
                                                            <a href="#"
                                                                class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 mr-n1"
                                                                data-toggle="dropdown"><em
                                                                    class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="{{concat '/course/' this._id}}"><em
                                                                                class="icon ni ni-eye"></em><span>View
                                                                                Course</span></a></li>
                                                                    <li>
                                                                        <div data-toggle="modal"
                                                                            data-target="#course-edit{{@index}}"><a
                                                                                href="#"><em
                                                                                    class="icon ni ni-edit"></em><span>Edit
                                                                                    Course</span></a></div>
                                                                    </li>
                                                                    <li><a id="courseId{{@index}}" value={{this._id}}
                                                                            class="eg-swal-av3-delete"><em
                                                                                class="icon ni ni-delete"></em><span>Delete
                                                                                Course</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="project-details">
                                                        <p>{{this.description}}</p>
                                                    </div>
                                                    <ul class="team-statistics">
                                                        <li><span>{{this.metrics.difficulty}}</span><span>Difficulty</span>
                                                        </li>
                                                        <li><span>{{this.metrics.chanceToGetA}}</span><span>Get A
                                                                Rate</span></li>
                                                        <li><span>{{this.metrics.workLoad}}</span><span>Workload</span>
                                                        </li>
                                                    </ul>
                                                    <div class="project-progress">
                                                        <div class="project-progress-details">
                                                            <div class="project-progress-task"><em
                                                                    class="icon ni ni-swap-v"></em><span>Rating</span>
                                                            </div>
                                                            <div class="project-progress-percent">{{this.overallRating}}
                                                                / 5.0</div>
                                                        </div>
                                                        <div class="progress progress-pill progress-md bg-light">
                                                            <div class="progress-bar" data-progress="90"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- @@ Course Edit Modal @e -->
                                    <div class="modal fade" tabindex="-1" role="dialog" id="course-edit{{@index}}">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content">
                                                <a href="#" class="close" data-dismiss="modal"><em
                                                        class="icon ni ni-cross-sm"></em></a>
                                                <div class="modal-body modal-body-lg">
                                                    <h5 class="title">Edit Course</h5>
                                                    <div class="tab-content">
                                                        <form id="editCourseForm">
                                                            <div class="row gy-4">

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="courseName">Course
                                                                            Name</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="courseName-edit{{@index}}"
                                                                            name="courseName"
                                                                            value="{{this.courseIndex}} {{this.courseName}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="courseOwner">Course
                                                                            Owner</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="courseOwner-edit{{@index}}"
                                                                            name="courseOwner"
                                                                            value="{{this.courseOwner}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="academicLevel">Academic Level</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="academicLevel-edit{{@index}}"
                                                                            name="academicLevel"
                                                                            value="{{this.academicLevel}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="type">Type</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="type-edit{{@index}}" name="type"
                                                                            value="{{this.type}}" required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="units">Units</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="units-edit{{@index}}" name="units"
                                                                            value="{{this.units}}" required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="instructionalFormats">Instructional
                                                                            Format</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="instructionalFormats-edit{{@index}}"
                                                                            name="instructionalFormats"
                                                                            value="{{this.instructionalFormats}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="picture">Picture</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="picture-edit{{@index}}" name="picture"
                                                                            value="{{this.picture}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="syllabus">Syllabus</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="syllabus-edit{{@index}}" name="syllabus"
                                                                            value="{{this.syllabus}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="courseware">Courseware</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="courseware-edit{{@index}}"
                                                                            name="courseware"
                                                                            value="{{this.courseware}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="form-label"
                                                                            for="courseware">Description</label>
                                                                        <input type="text"
                                                                            class="form-control form-control-lg"
                                                                            id="description-edit{{@index}}"
                                                                            name="description"
                                                                            value="{{this.description}}"
                                                                            required="required">
                                                                    </div>
                                                                </div>
                                                                <div class="col-12">
                                                                    <ul
                                                                        class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                                                        <li>
                                                                            <a id="courseId{{@index}}"
                                                                                value={{this._id}}
                                                                                class="eg-swal-av3-edit">
                                                                                <button class="btn btn-lg btn-primary"
                                                                                    type="submit">Edit Course</button>
                                                                            </a>

                                                                        </li>
                                                                        <li>
                                                                            <a href="#" data-dismiss="modal"
                                                                                class="link link-light">Cancel</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div><!-- .tab-pane -->
                                                </div><!-- .modal-body -->
                                            </div><!-- .modal-content -->
                                        </div><!-- .modal-dialog -->
                                    </div><!-- .modal -->
                                    {{/each}}

                                </div>
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <!-- footer @s -->
            <div class="nk-footer">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <p class="mb-md-0">Copyright &copy; 2022. CS 546 Group 36 All rights reserved.</p>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>




<!-- @@ Course Add Modal @e -->
<div class="modal fade" tabindex="-1" role="dialog" id="course-add">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">Add Course</h5>
                <div class="tab-content">
                    <form id="addCourseForm">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="courseName-add">Course Name</label>
                                    <input type="text" class="form-control form-control-lg" id="courseName-add"
                                        name="courseName-add" placeholder="e.g., CS 546 Web Programming"
                                        required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="courseOwner-add">Course Owner</label>
                                    <input type="text" class="form-control form-control-lg" id="courseOwner-add"
                                        name="courseOwner-add" placeholder="e.g., Computer Science Program"
                                        required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="academicLevel-add">Academic Level</label>
                                    <input type="text" class="form-control form-control-lg" id="academicLevel-add"
                                        name="academicLevel-add" placeholder="e.g., Graduate or Undergraduate"
                                        required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="type-add">Type</label>
                                    <input type="text" class="form-control form-control-lg" id="type-add"
                                        name="type-add" placeholder="e.g., Core or Elective" required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="units-add">Units</label>
                                    <input type="text" class="form-control form-control-lg" id="units-add"
                                        name="units-add" placeholder="e.g., 3" required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="instructionalFormats-add">Instructional
                                        Format</label>
                                    <input type="text" class="form-control form-control-lg"
                                        id="instructionalFormats-add" name="instructionalFormats-add"
                                        placeholder="e.g., Lecture or Thesis" required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="picture-add">Picture</label>
                                    <input type="text" class="form-control form-control-lg" id="picture-add"
                                        name="picture-add"
                                        placeholder="e.g., https://www.smartpassiveincome.com/wp-content/uploads/2020/04/How-to-Create-an-Online-Course.png"
                                        required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="syllabus-add">Syllabus</label>
                                    <input type="text" class="form-control form-control-lg" id="syllabus-add"
                                        name="syllabus-add"
                                        placeholder="e.g., https://web.stevens.edu/academic_files/courses/syllabus/CS546syl.pdf"
                                        required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="courseware-add">Courseware</label>
                                    <input type="text" class="form-control form-control-lg" id="courseware-add"
                                        name="courseware-add" placeholder="e.g., https://github.com/graffixnyc/CS-546"
                                        required="required">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label" for="courseware-add">Description</label>
                                    <input type="text" class="form-control form-control-lg" id="description-add"
                                        name="description-add"
                                        placeholder="e.g., This course will provide students with a first strong approach of internet programming."
                                        required="required">
                                </div>
                            </div>
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <button class="btn btn-lg btn-primary" type="submit">Add Course</button>
                                    </li>
                                    <li>
                                        <a href="#" data-dismiss="modal" class="link link-light">Cancel</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="server-results">
                                <!-- For server results -->
                            </div>
                        </div>
                    </form>
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->


<!-- app-root @e -->
<!-- JavaScript -->
<script src="static/backstage/assets/js/bundle.js?ver=2.2.0"></script>
<script src="static/backstage/assets/js/scripts.js?ver=2.2.0"></script>
<script src="static/backstage/assets/js/handlebars-select-helper.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $("#addCourseForm").submit(function (event) {
            event.preventDefault();

            var formData = {
                courseName: $("#courseName-add").val(),
                academicLevel: $("#academicLevel-add").val(),
                courseOwner: $("#courseOwner-add").val(),
                type: $("#type-add").val(),
                units: $("#units-add").val(),
                description: $("#description-add").val(),
                instructionalFormats: $("#instructionalFormats-add").val(),
                syllabus: $("#syllabus-add").val(),
                courseware: $("#courseware-add").val(),
                picture: $("#picture-add").val(),
            };
            $.ajax({
                type: "POST",
                url: "http://localhost:3000/course",
                data: formData,
                dataType: "json",
                encode: true,
                success: function (result) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'New course has been saved',
                        showConfirmButton: true,
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                },
                error: function (request, status, error) {
                    Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                    event.preventDefault();
                }

            })


        });



        $(".eg-swal-av3-edit").on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-av3-edit").index(this);
            var courseId = $("#courseId" + index).attr("value");
            var formData = {
                courseName: $("#courseName-edit" + index).val(),
                academicLevel: $("#academicLevel-edit" + index).val(),
                courseOwner: $("#courseOwner-edit" + index).val(),
                type: $("#type-edit" + index).val(),
                units: $("#units-edit" + index).val(),
                description: $("#description-edit" + index).val(),
                instructionalFormats: $("#instructionalFormats-edit" + index).val(),
                syllabus: $("#syllabus-edit" + index).val(),
                courseware: $("#courseware-edit" + index).val(),
                picture: $("#picture-edit" + index).val(),
            };
            $.ajax({
                type: "PUT",
                url: "http://localhost:3000/course/edit/" + courseId,
                data: formData,
                dataType: "json",
                encode: true,
                success: function (result) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'The has been updated',
                        showConfirmButton: true,
                    }).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });
                },
                error: function (request, status, error) {
                    Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                    event.preventDefault();
                }
            })
        });


        $('.eg-swal-av3-delete').on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-av3-delete").index(this);
            var courseId = $("#courseId" + index).attr("value");
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'DELETE',
                        url: 'http://localhost:3000/course/' + courseId,
                        success: function (result) {
                            Swal.fire(
                                'Deleted!',
                                'The course has been deleted.',
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    window.location.reload();
                                }
                            });

                        },
                        error: function (request, status, error) {
                            Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                            event.preventDefault();
                        }
                    });
                }
            });

        });
    });

</script>

<script>
    $(document).ready(function () {

        $(".sign-out").on("click", function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You are about to be signed out!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, sign out!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:3000/logout/",
                        success: function (result) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'You have successfully signed out',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    window.location.href = "home";
                                }
                            });
                        },
                        error: function (request, status, error) {
                            Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                            event.preventDefault();
                        }
                    })
                }
            });
        });
    });
</script>