<link rel="stylesheet" href="static/backstage/assets/css/dashlite.css?ver=2.2.0">
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="http://localhost:3000/home" class="navbar-brand">
                <h1 class="m-0 text-primary"></i>RateMyCourses</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="http://localhost:3000/home" class="nav-item nav-link">Home</a>
                    <a href="http://localhost:3000/courses" class="nav-item nav-link">Courses</a>
                    <a href="http://localhost:3000/professors" class="nav-item nav-link">Professors</a>
                    <a href="http://localhost:3000/search" class="nav-item nav-link">Search</a>
                    <a href="http://localhost:3000/account" class="nav-item nav-link">Account</a>
                    <a href="http://localhost:3000/backstage" class="nav-item nav-link">Backstage</a>
                    <a href="http://localhost:3000/login" class="nav-item nav-link">Sign in</a>
                </div>
            </div>
        </nav>
    </div>
</div>





<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-3 mb-3 mb-lg-0" style="min-height: 300px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded"
                        src={{ picture }}
                        style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Professor Info
                    </h5>
                    <h1 class="display-10"> {{ professorName }} </h1>
                </div>
                <div class="mb-4">
                    <h4 class="display-10">Department: &nbsp&nbsp {{ department }} </h4>
                </div>
                <div class="mb-4">
                    <h4 class="display-10"> Rating: &nbsp&nbsp {{ concat rating ' / 5.0' }} </h4>
                </div>
                <div class="mb-4">
                    <h4 class="display-10"> About me: </h4>
                    <p>{{ introduction }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Comments Post</h5>
            <h1 class="display-4">Professor's Latest Comments Posts</h1>
        </div>
        <div class="row g-5" id="comments">
            {{#each reviews}}
            <div class="col-xl-4 col-lg-6">

                <div class="bg-light rounded overflow-hidden">

                    <div class="p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-2" src={{this.profilePicture}} width="35" height="35" alt="">
                            <h6 class="ms-3">{{this.username}}</h6>
                        </div>
                        <p></p>
                        <p class="m-0">{{this.comment}}</p>
                    </div>
                    <div class="d-flex justify-content-between border-top p-4">
                        <div class="d-flex align-items-center">
                            <h6 class="ms-3">Rating: {{ concat this.rating ' / 5' }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container">
        <div class="bg-light rounded p-5">
            <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-white mb-4">
                Leave a comment</h4>
            <form id="review-form" value={{_id}}>
                <div class="row g-3">
                    <div class="col-12">
                        <textarea class="form-control bg-white border-0" rows="5" placeholder="Comment"
                            id="comment"></textarea>
                        <p style="color:red;" id="comment-error">Please enter a valid comment</p>
                    </div>
                    <div class="col-12 sm-6">
                        <select class="form-select w-25" style="height: 60px;" id="rating">
                            <option selected="">Rating</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <p style="color:red;" id="rating-error">Please select a rating</p>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Leave Your Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<div class="container-fluid bg-dark text-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Get In Touch</h4>
                <p class="mb-4">Best community built around students, courses and beyond.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>1 Castle Point Terrace, Hoboken, NJ</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i><a href="email-protection.html"
                        class="__cf_email__"
                        data-cfemail="adc4c3cbc2edc8d5ccc0ddc1c883cec2c0">[email&#160;protected]</a></p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>201-216-5000</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="home"><i class="fa fa-angle-right me-2"></i>Home</a>
                    <a class="text-light mb-2" href="courses"><i class="fa fa-angle-right me-2"></i>Courses</a>
                    <a class="text-light mb-2" href="professors"><i class="fa fa-angle-right me-2"></i>Professors</a>
                    <a class="text-light mb-2" href="login"><i class="fa fa-angle-right me-2"></i>Login</a>
                    <a class="text-light mb-2" href="account"><i class="fa fa-angle-right me-2"></i>Account</a>
                    <a class="text-light" href="Search"><i class="fa fa-angle-right me-2"></i>Search</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Our Github Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" href="https://github.com/Sihong-Lin" target="_blank"><i class="fa fa-angle-right me-2"></i>Sihong Lin</a>
                    <a class="text-light mb-2" href="https://github.com/Problematicdriver" target="_blank"><i class="fa fa-angle-right me-2"></i>Jiayi Guo</a>
                    <a class="text-light mb-2" href="https://github.com/Makutoo" target="_blank"><i class="fa fa-angle-right me-2"></i>Ziheng Zhu</a>
                    <a class="text-light mb-2" href="https://github.com/huashenglulu" target="_blank"><i class="fa fa-angle-right me-2"></i>Yilu Nuo</a>
                    <a class="text-light mb-2" href="https://www.stevens.edu/directory/stevens-career-center"><i class="fa fa-angle-right me-2"></i>Bofei Wang</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Newsletter</h4>
                <form action="http://localhost:3000/signup" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                        <button class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
                <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="https://twitter.com/?lang=en" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="https://www.facebook.com/" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="https://www.linkedin.com/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="https://www.instagram.com/?hl=en" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">Copyright &copy; 2022. CS 546 Group 36 All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">

            </div>
        </div>
    </div>
</div>


<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<script data-cfasync="false" src="static/js/email-decode.min.js"></script>
<script src="static/js/jquery-3.4.1.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/bootstrap.bundle.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/easing.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/waypoints.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/owl.carousel.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/moment.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/moment-timezone.min.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/tempusdominus-bootstrap-4.min.js" type="64f10123938904b78188bb72-text/javascript"></script>

<script src="static/js/main.js" type="64f10123938904b78188bb72-text/javascript"></script>
<script src="static/js/rocket-loader.min.js" data-cf-settings="64f10123938904b78188bb72-|49" defer=""></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/public/js/professorDetail.js"></script>
</body>