<link rel="stylesheet" href="static/backstage/assets/css/dashlite.css?ver=2.2.0">
<link id="skin-default" rel="stylesheet" href="static/backstage/assets/css/theme.css?ver=2.2.0">



<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
        <!-- sidebar @s -->
        <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
            <div class="nk-sidebar-element nk-sidebar-head">
                <div class="nk-sidebar-brand">
                    <a href="html/index.html" class="logo-link">
                        <span class="nk-block-title page-title">RateMyCourses</span>
                    </a>
                </div>
                <div class="nk-menu-trigger mr-n2">
                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
                            class="icon ni ni-arrow-left"></em></a>
                </div>
            </div><!-- .nk-sidebar-element -->
            <div class="nk-sidebar-element">
                <div class="nk-sidebar-content">
                    <div class="nk-sidebar-menu" data-simplebar>
                        <ul class="nk-menu">
                            <li class="nk-menu-item">
                                <a href="backstage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                    <span class="nk-menu-text">Dashboard</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="userManage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                    <span class="nk-menu-text">User Manage</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="courseManage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-elementor"></em></span>
                                    <span class="nk-menu-text">Course Manage</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="professorManage" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-user-list-fill"></em></span>
                                    <span class="nk-menu-text">Professor Manage</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="home" class="nk-menu-link">
                                    <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                    <span class="nk-menu-text">Back to Home</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                            <li class="nk-menu-item">
                                <a href="null" class="nk-menu-link sign-out">
                                    <span class="nk-menu-icon"><em class="icon ni ni-signout"></em></span>
                                    <span class="nk-menu-text">Sign Out</span>
                                </a>
                            </li><!-- .nk-menu-item -->
                        </ul><!-- .nk-menu -->
                    </div><!-- .nk-sidebar-menu -->
                </div><!-- .nk-sidebar-content -->
            </div><!-- .nk-sidebar-element -->
        </div>
        <div class="nk-wrap ">
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Users List</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>You have total {{allUsers.length}} users.</p>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered card-stretch">
                                    <div class="card-inner-group">
                                        <div class="card-inner p-0">
                                            <div class="nk-tb-list nk-tb-ulist">
                                                <div class="nk-tb-item nk-tb-head">
                                                    <div class="nk-tb-col"><span class="tb-lead">User</span></div>
                                                    <div class="nk-tb-col tb-col-lg"><span class="tb-lead">Email</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg"><span class="tb-lead">Major</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg"><span class="tb-lead">Registration
                                                            Time</span></div>
                                                    <div class="nk-tb-col tb-col-lg"><span class="tb-lead">Last
                                                            Login</span></div>
                                                    <div class="nk-tb-col tb-col-lg"><span class="tb-lead">Role</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg"><span
                                                            class="tb-lead">Status</span></div>
                                                    <div class="nk-tb-col nk-tb-col-tools text-right"></div>
                                                </div><!-- .nk-tb-item -->

                                                {{#each allUsers}}
                                                <div class="nk-tb-item">
                                                    <div class="nk-tb-col">
                                                        <a href="userBackstage.html">
                                                            <div class="user-card">
                                                                <div class="user-avatar bg-primary">
                                                                    <img class="position-absolute w-100 h-100 rounded-circle"
                                                                        src="{{this.profilePicture}}"
                                                                        style="object-fit: cover;">
                                                                </div>
                                                                <div class="user-info">
                                                                    <span class="tb-lead">{{this.username}}<span
                                                                            class="dot dot-success d-md-none ml-1"></span></span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg">
                                                        <span>{{this.email}}</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg">
                                                        <span>{{this.major}}</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg">
                                                        <span>{{this.registrationTime}}</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg">
                                                        <span>{{this.lastLogin}}</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg">
                                                        <span>{{this.role}}</span>
                                                    </div>
                                                    <div class="nk-tb-col tb-col-lg">

                                                        {{#if restrictStatus }}
                                                        <span class="tb-status text-danger">Suspend</span>
                                                        {{else}}
                                                        <span class="tb-status text-success">Active</span>
                                                        {{/if}}

                                                    </div>
                                                    <div class="nk-tb-col nk-tb-col-tools">
                                                        <ul class="nk-tb-actions gx-1">
                                                            <li class="nk-tb-action-hidden ">
                                                                <a id="userId{{@index}}" value={{this._id}}
                                                                    class="btn btn-trigger btn-icon change-role"
                                                                    data-toggle="tooltip" data-placement="top"
                                                                    title="Change Role">
                                                                    <em class="icon ni ni-exchange"></em>
                                                                </a>
                                                            </li>
                                                            <li class="nk-tb-action-hidden ">
                                                                <a id="userId{{@index}}" value={{this._id}}
                                                                    class="btn btn-trigger btn-icon eg-swal-success"
                                                                    data-toggle="tooltip" data-placement="top"
                                                                    title="Suspend / Activate">
                                                                    <em class="icon ni ni-user-cross-fill"></em>
                                                                </a>
                                                            </li>
                                                            <li class="nk-tb-action-hidden">
                                                                <a id="userId{{@index}}" value={{this._id}}
                                                                    class="btn btn-trigger btn-icon eg-swal-av3"
                                                                    data-toggle="tooltip" data-placement="top"
                                                                    title="Delete User">
                                                                    <em class="icon ni ni-delete-fill"></em>
                                                                </a>
                                                            </li>
                                                            <div class="drodown">
                                                                <a href="#"
                                                                    class="dropdown-toggle btn btn-icon btn-trigger"><em
                                                                        class="icon ni ni-more-h"></em></a>
                                                            </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div><!-- .nk-tb-item -->
                                                {{/each}}


                                            </div><!-- .nk-tb-list -->
                                        </div><!-- .card-inner -->

                                    </div><!-- .card-inner-group -->
                                </div><!-- .card -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <!-- footer @s -->
            <div class="nk-footer">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <p class="mb-md-0">Copyright &copy; 2022. CS 546 Group 36 All rights reserved.</p>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
</div>


<!-- app-root @e -->
<!-- JavaScript -->
<script src="static/backstage/assets/js/bundle.js?ver=2.2.0"></script>
<script src="static/backstage/assets/js/scripts.js?ver=2.2.0"></script>

<script>
    $(document).ready(function () {
        $('.change-role').on("click", function (event) {
            event.preventDefault();
            var index = $(".change-role").index(this);
            var userId = $("#userId" + index).attr("value");
            $.ajax({
                type: 'PUT',
                url: 'http://localhost:3000/userManage/role/' + userId,
                success: function (result) {
                    Swal.fire(
                        'Good job!',
                        'You have changed the user role!',
                        'success'
                    ).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });

                }
            });
        });


        $('.eg-swal-success').on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-success").index(this);
            var userId = $("#userId" + index).attr("value");
            $.ajax({
                type: 'PUT',
                url: 'http://localhost:3000/userManage/status/' + userId,
                success: function (result) {
                    Swal.fire(
                        'Good job!',
                        'You reset the user status!',
                        'success'
                    ).then((result) => {
                        if (result.value) {
                            window.location.reload();
                        }
                    });

                }
            });
        });

        $('.eg-swal-av3').on("click", function (event) {
            event.preventDefault();
            var index = $(".eg-swal-av3").index(this);
            var userId = $("#userId" + index).attr("value");
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'DELETE',
                        url: 'http://localhost:3000/userManage/' + userId,
                        success: function (result) {
                            Swal.fire(
                                'Deleted!',
                                'The user has been deleted.',
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    window.location.reload();
                                }
                            });
                        }
                    });
                }
            });

        });
    });



</script>

<script>
    $(document).ready(function () {

        $(".sign-out").on("click", function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You are about to be signed out!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, sign out!'
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:3000/logout/",
                        success: function (result) {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'You have successfully signed out',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    window.location.href = "home";
                                }
                            });
                        },
                        error: function (request, status, error) {
                            Swal.fire("Error: " + request.status.toString(), request.responseText.replace(/\"/g, ""), "error");
                            event.preventDefault();
                        }
                    })
                }
            });
        });
    });
</script>